.riters {
    font-family: Pacifico;
    font-size: 18px;
    color: blueviolet;
    text-align: center;
}

.tittle {
    color: rgb(5, 160, 64);
    font-family: Pacifico;
    font-size: 25px;
    width: 300px;
    margin: 0 auto;

}
