.riters {
  font-family: Pacifico;
  font-size: 18px;
  text-align: center;
  margin: 0;
}

.tittle {
  color: rgb(5, 160, 64);
  font-family: Pacifico;
  font-size: 25px;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.riters:nth-child(-n + 7) {
  color: rgb(15, 127, 202);
}

.riters:nth-child(n + 8) {
  color: rgb(211, 211, 11);
}

body {
  background-color: rgb(206, 224, 224);
}
